body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}

form {
    margin: 20px;
}

form label {
    display: block;
    margin: 5px 0;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}
